In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Replace the following with your own details
host='localhost'     
username='root'   
password='Ice0814833448'
database='employees' 

# Create an engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

# Use the engine to connect and execute the query
query = "SELECT * FROM employees limit 10"
df = pd.read_sql_query(query, engine)
df

In [1]:
import pandas as pd

# Define the data as a list of lists
data = [
    [10001, '1953-09-02', 'Georgi', 'Facello', 'M', '1986-06-26'],
    [10002, '1964-06-02', 'Bezalel', 'Simmel', 'F', '1985-11-21'],
    [10003, '1959-12-03', 'Parto', 'Bamford', 'M', '1986-08-28'],
    [10004, '1954-05-01', 'Chirstian', 'Koblick', 'M', '1986-12-01'],
    [10005, '1955-01-21', 'Kyoichi', 'Maliniak', 'M', '1989-09-12'],
    [10006, '1953-04-20', 'Anneke', 'Preusig', 'F', '1989-06-02'],
    [10007, '1957-05-23', 'Tzvetan', 'Zielinski', 'F', '1989-02-10'],
    [10008, '1958-02-19', 'Saniya', 'Kalloufi', 'M', '1994-09-15'],
    [10009, '1952-04-19', 'Sumant', 'Peac', 'F', '1985-02-18'],
    [10010, '1963-06-01', 'Duangkaew', 'Piveteau', 'F', '1989-08-24']
]

# Define the column names
columns = ['emp_no', 'birth_date', 'first_name', 'last_name', 'gender', 'hire_date']

# Create the DataFrame
df = pd.DataFrame(data, columns=columns)
df

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24

In [2]:
from langchain import PromptTemplate
from langchain.chat_models import ChatOpenAI
from langchain.chains import LLMChain
from dotenv import load_dotenv
import os
#load variable from .env
load_dotenv()  
openai_api_key = os.getenv('OPENAI_API_KEY')

#assign variables
dataset = df

#promptTemplate
summary_templates = """
    given the dataset of pandas framework {dataset} about an employees information
    1.expalin what is this dataset about
    2.what is the number of employees represent in here
    3.how many female employees are represent in this dataset show me the answer
    """

summary_prompts_template = PromptTemplate(input_variables=["dataset"], template = summary_templates)

llm = ChatOpenAI(temperature= 0, model_name="gpt-4",api_key=openai_api_key)

chain = LLMChain(llm=llm, prompt=summary_prompts_template) 

print(chain.run(dataset=dataset))

c:\Users\(Ai)AiSukmoren\.conda\envs\langchain_demo\Lib\site-packages\langchain_core\_api\deprecation.py:117: LangChainDeprecationWarning: The class `langchain_community.chat_models.openai.ChatOpenAI` was deprecated in langchain-community 0.0.10 and will be removed in 0.2.0. An updated version of the class exists in the langchain-openai package and should be used instead. To use it run `pip install -U langchain-openai` and import as `from langchain_openai import ChatOpenAI`.
  warn_deprecated(
c:\Users\(Ai)AiSukmoren\.conda\envs\langchain_demo\Lib\site-packages\langchain_core\_api\deprecation.py:117: LangChainDeprecationWarning: The function `run` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

1. This dataset appears to be about employees in a company. It contains information such as the employee number (emp_no), birth date (birth_date), first name (first_name), last name (last_name), gender (gender), and hire date (hire_date).

2. The number of employees represented in this dataset is 10. This is determined by the number of rows in the dataset, with each row representing a unique employee.

3. To find out how many female employees are represented in this dataset, we would need to count the number of 'F' entries in the 'gender' column. However, as a text-based AI, I can't perform this operation directly. But in Python, you can use the following code to get the answer:

```python
female_employees = dataset[dataset['gender'] == 'F'].shape[0]
print(female_employees)
```

This code will filter the dataset for rows where the gender is 'F' (female), and then count the number of such rows.